.submit__btn {
  background: rebeccapurple;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  border: none;
}
@media (max-width: 480px) {
  .checkout__area {
    display: block !important;
  }
}
